bin/*
obj/*
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/ref/ValorantManager.dll
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/ValorantManager.AssemblyInfo.cs
obj/Debug/net6.0/ValorantManager.assets.cache
obj/Debug/net6.0/ValorantManager.csproj.AssemblyReference.cache
obj/Debug/net6.0/ValorantManager.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ValorantManager.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ValorantManager.dll
obj/Debug/net6.0/ValorantManager.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ValorantManager.genruntimeconfig.cache
obj/Debug/net6.0/ValorantManager.pdb
obj/Debug/net6.0/ValorantManager.RazorAssemblyInfo.cs
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/ValorantManager.csproj.nuget.dgspec.json
obj/ValorantManager.csproj.nuget.g.props
2FA/LoginPassResponse.json
2FA/2FAResponse.json
