
bin/Debug/net6.0/ValorantManager.dll
bin/Debug/net6.0/ValorantManager.pdb
bin/Debug/net6.0/ValorantManager.staticwebassets.runtime.json
bin/Release/net6.0/ValorantManager.dll
bin/Release/net6.0/ValorantManager.pdb
bin/Release/net6.0/ValorantManager.staticwebassets.runtime.json
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/ValorantManager.assets.cache
obj/Debug/net6.0/ValorantManager.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ValorantManager.dll
obj/Debug/net6.0/ValorantManager.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ValorantManager.genruntimeconfig.cache
obj/Debug/net6.0/ValorantManager.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net6.0/project.razor.json
obj/Release/net6.0/PublishOutputs.2ed473162d.txt
obj/Release/net6.0/PubTmp/Out/ValorantManager.dll
obj/Release/net6.0/PubTmp/Out/ValorantManager.pdb
obj/Release/net6.0/PubTmp/Out/wwwroot/app_icon.png
obj/Release/net6.0/PubTmp/ValorantManager.Parameters.xml
obj/Release/net6.0/PubTmp/ValorantManager.SourceManifest.xml
obj/Release/net6.0/staticwebassets.build.json
obj/Release/net6.0/staticwebassets.development.json
obj/Release/net6.0/staticwebassets.publish.json
obj/Release/net6.0/ValorantManager.assets.cache
obj/Release/net6.0/ValorantManager.csproj.AssemblyReference.cache
obj/Release/net6.0/ValorantManager.csproj.FileListAbsolute.txt
obj/Release/net6.0/ValorantManager.dll
obj/Release/net6.0/ValorantManager.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/ValorantManager.genruntimeconfig.cache
obj/Release/net6.0/ValorantManager.pdb
obj/staticwebassets.pack.sentinel
obj/ValorantManager.csproj.nuget.dgspec.json
obj/ValorantManager.csproj.nuget.g.props
