<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/46f580e7-b52a-4aaa-abb7-d3823e7f1725/resourcegroups/ValorantManagerLinux/providers/Microsoft.Web/sites/ValorantManagerLinux</ResourceId>
    <ResourceGroup>ValorantManagerLinux</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://valorantmanagerlinux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>20b8c238-b7d2-43d3-8689-34bf84f2e7a3</ProjectGuid>
    <PublishUrl>https://valorantmanagerlinux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ValorantManagerLinux</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>